<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/favicon.ico" sizes="any" />
    <link rel="icon" type="image/svg+xml" href="~/images/icons/favicon.svg" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/icons/favicon-96x96.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/icons/apple-touch-icon.png" />
    <link rel="manifest" href="~/images/icons/site.webmanifest" />
    <script>
        (function () {
            var storedTheme = localStorage.getItem("durablestack-theme");
            if (storedTheme === "dark" || storedTheme === "light") {
                document.documentElement.setAttribute("data-theme", storedTheme);
            }
        })();
    </script>
    @Html.RenderTitleParts()
    <link rel="stylesheet" href="~/scss/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/scss/auth.css" asp-append-version="true" />
    @await RenderSectionAsync("HeadStyles", required: false)
</head>
<body class="auth-body">
    <main class="auth-shell" role="main">
        @RenderBody()
    </main>

    <script src="~/js/pages/auth-page.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
